<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">
<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>LookUpCommonCustomTag</shortname>
	<uri>/WEB-INF/tld/LookupCommonTag</uri>
<tag>
<name>SelectList</name>
<tagclass>sa.com.mobily.eportal.common.lookup.helper.LookUpCommonCustomTag</tagclass>
<bodycontent>empty</bodycontent>
	<attribute>
		<name>id</name>
		<required>true</required>
		<rtexprvalue>true</rtexprvalue>
	</attribute>
	<attribute>
		<name>componentId</name>
		<required>true</required>
		<rtexprvalue>true</rtexprvalue>
	</attribute>
	<attribute>
		<name>name</name>
		<required>true</required>
		<rtexprvalue>true</rtexprvalue>
	</attribute>
	<attribute>
		<name>locale</name>
		<required>true</required>
		<rtexprvalue>true</rtexprvalue>
	</attribute>
	<attribute>
		<name>required</name>
		<required>false</required>
		<rtexprvalue>true</rtexprvalue>
	</attribute>
	<attribute>
		<name>selected</name>
		<required>false</required>
		<rtexprvalue>true</rtexprvalue>
	</attribute>
	</tag>
</taglib>

