<!-- jsf:pagecode language="java" location="/src/pagecode/SamplePortletView.java" --><!-- /jsf:pagecode -->
 <div xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
 xmlns:f="http://xmlns.jcp.org/jsf/core"
 xmlns:h="http://xmlns.jcp.org/jsf/html" 
 xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
 xmlns:jsf="http://xmlns.jcp.org/jsf"
 xmlns:portlet="http://java.sun.com/portlet_2_0"  >  
  

 

<p>Place content here.</p>

</div>
