<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="mobily.eportal.acct.mgmt">
        <wb-resource deploy-path="/" source-path="/" tag="defaultRootSource"/>
        <dependent-module archiveName="mobily.eportal.acct.mgmt.service.jar" deploy-path="/" handle="module:/resource/mobily.eportal.acct.mgmt.service/mobily.eportal.acct.mgmt.service">
            <dependent-object>Module_1382902862319</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mobily.eportal.acct.mgmt.client.jar" deploy-path="/lib" handle="module:/resource/mobily.eportal.acct.mgmt.client/mobily.eportal.acct.mgmt.client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mobily.eportal.acct.lines.mgmt.ui.war" deploy-path="/" handle="module:/resource/mobily.eportal.acct.lines.mgmt.ui/mobily.eportal.acct.lines.mgmt.ui">
            <dependent-object>Module_1571215872362</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mobily.eportal.acct.mgmt.cards.ui.war" deploy-path="/" handle="module:/resource/mobily.eportal.acct.mgmt.cards.ui/mobily.eportal.acct.mgmt.cards.ui">
            <dependent-object>Module_1571215881907</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mobily.eportal.acct.mgmt.corp.authority.mngt.war" deploy-path="/" handle="module:/resource/mobily.eportal.acct.mgmt.corp.authority.mngt/mobily.eportal.acct.mgmt.corp.authority.mngt">
            <dependent-object>Module_1571215889566</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mobily.eportal.acct.mgmt.login.history.ui.war" deploy-path="/" handle="module:/resource/mobily.eportal.acct.mgmt.login.history.ui/mobily.eportal.acct.mgmt.login.history.ui">
            <dependent-object>Module_1571215897972</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mobily.eportal.acct.mgmt.ui.war" deploy-path="/" handle="module:/resource/mobily.eportal.acct.mgmt.ui/mobily.eportal.acct.mgmt.ui">
            <dependent-object>Module_1571215911188</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>